@import '../styles/custom-properties.module.scss';

:root {
  --total-board-height: 88vh;
  --keyboard-height: 192px;
  --keyboard-width: 484px;
}

.board {
  height: var(--total-board-height);
  width: 100vw;
  max-width: 500px;
}
.guessSection {
  height: 410px;
  max-height: calc(var(--total-board-height) - var(--keyboard-height));
  max-width: 340px;
  width: calc((var(--total-board-height) - var(--keyboard-height) / 1.2059);
  margin: auto;
}
.keyboardSection {
  height: var(--keyboard-height);
  min-height: var(--keyboard-height);
  width: var(--keyboard-width);
  max-width: 100%;
}
.guessLine {
  width: 100%;
  height: 60px;
  max-height: calc(16.667% - 8px);
  margin: 4px 0;
  display: flex;
}

.flipbox {
  width: calc(20% - 8px);
  height: 100%;
  margin: 0 4px;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transition: transform 0.8s;
}
.guessLetter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 1px solid var(--light-gray);
  color: white;
  font-size: $fontSize;
  font-weight: 700;
}

.backLetter {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  font-size: $fontSize;
  font-weight: 700;
  color: white;
}

/* This container is needed to position the front and back side */
.flipboxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
// .flipbox:hover .flipboxInner {
//   transform: rotateY(180deg);
// }

/* Position the front and back side */
.flipboxFront,
.flipboxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flipboxFront {
  // background-color: var(--dark-gray);
  color: black;
}

/* Style the back side */
.flipboxBack {
  background-color: var(--dark-gray);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

///Shake and bounce
.shake {
  animation-name: shake;
  -webkit-animation-name: shake;
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  -moz-animation-name: bounce;
  -moz-animation-duration: 100ms;
}

.bounce {
  animation-name: bounce;
  animation-duration: 1000ms;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 1000ms;
  -moz-animation-name: bounce;
  -moz-animation-duration: 100ms;
}

@keyframes bounce {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes bounce {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translateX(-1px);
  }

  20%,
  80% {
    -webkit-transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translateX(-4px);
  }

  40%,
  60% {
    -webkit-transform: translateX(4px);
  }
}

@-moz-keyframes shake {
  10%,
  90% {
    -webkit-transform: translateX(-1px);
  }

  20%,
  80% {
    -webkit-transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translateX(-4px);
  }

  40%,
  60% {
    -webkit-transform: translateX(4px);
  }
}
