.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.header {
  width: 100%;
  max-width: 550px;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  border-bottom: 2px solid black;
  // pointer-events: none;
  position: relative;
}
.hardMode {
  position: absolute;
  right: 0;
}

.statsButton:hover {
  color: gray;
  transform: scale(1.2);
}

.logo {
  pointer-events: none;
  height: 5vh;
  position: absolute;
  left: 0;
}
